#root {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: #dcdcdc;
  overflow: hidden;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

* {
  user-select: none;
}
